body {
  background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
  background-repeat: no-repeat;
  background-position: right top, left bottom;
  background-size: 35% 80%, 28% 37%;
  /* back */
  width: 100vw;
  height: 100vh;
  background-color: #f7f7ff;
  line-height: 21px;
  padding: 0;
  margin: 0;
  color: rgb(88, 85, 85);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body { 
  font-family: 'Montserrat', sans-serif;
}

.head {
  padding-top: 50px;
}

.txt-center {
  text-align: center;
}
.heading1 {
  font-size: 45px;
}

.heading2 {
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(121, 111, 111);
}

.row {
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
  padding-top: 10px;
}

.row-center {
  justify-content: center;
}

.container {
  /* position: relative; */
  /* width: 5%; */
  width: 105px;
  height: 60px;
  /* border: 2px solid red;  */
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 20px;
}

.container input {
  display: none;
}

.container1 {
  height: 40px;
  width: 80px;

  background-color:  rgb(51, 62, 216) ;
  border-radius: 105px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.container1::before {
  content: "";
  position: absolute;
  left: 0;
  height: 30px;
  width: 30px;
  /* background-color: yellow; */
  background-color: white;
  border-radius: 50%;
  margin: 5px;
  transition: all 0.4s;
  /* transform: translateX(0); */
}

input:checked + .container1 {
  background-color: rgb(184, 192, 230);
}

#check:checked ~ .container1::before {
  transform: translateX(40px);
  /* right: 0; */
}

/* ///////// CONTAINERS STYLING  ///////// */

.pricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.small,
.small-l {
  height: 530px;
  width: 400px;
  /* border: 2px solid green; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.small {
  background-color: #ffffff;
}

.small-l {
  margin: auto;
}

.large {
  height: 580px;
  width: 490px;
  z-index: 1;
  /* border: 2px solid green; */
}

.large-in {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.small,
.large {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  /* color:  */
  color: rgb(68, 65, 65);;
  border-radius: 20px;
  box-shadow: 0.5px 0.5px 20px rgb(200, 200, 243),
    0.5px 0.5px 20px rgb(200, 200, 243);
}
.start {
  font-size: 25px;
  font-weight: 800;
  margin: auto;
}

.money {
  display: flex;
  flex-direction: row;
  margin-top: -35px;
  /* border: 2px solid red;   */
}
.last {
  width: 100%;
  /* border: 2px solid green; */
  margin-top: -20px;
}
.sign {
  display: flex;
  /* border: 2px solid rebeccapurple;  */
  align-items: center;
  margin-right: -20px;
}

.dollar {
  font-size: 70px; 
  letter-spacing: -3px; 
}

.sign,
.sign-1 {
  width: 70px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.sign img {
  width: 100%;
}

.sign-1 img {
  width: 70%;  
  filter: brightness(-100.75);  
  margin-right: -30px;
}

.b-bottom {
  border-top: 1px solid rgb(156, 153, 153);
  width: 80%;
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}

.last p.b-bottom:last-child {
  border-bottom: 1px solid rgb(156, 153, 153);
}

.large .b-bottom {
  border-top: 2px solid rgb(255, 253, 253);
  width: 80%;
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}

.large .last p.b-bottom:last-child {
  border-bottom: 2px solid rgb(255, 255, 255);
}

.gradient {
  flex-grow: 1;
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.gradient-inside {
  /* border: 2px solid red; */
  width: 100%;
  padding: 15px;
  cursor: pointer;
  font-weight: 560; 
}

.none {
  display: none;
}

.large {
  color: white;
}

.large .money{
  margin-left: -20px;
}
/* ////////////////////////////////////////////////////////////////// */
.container1,
.large,
.small-gradient {
  /* background: linear-gradient(
    295deg, 

    rgb(76, 86, 224) 0%,
    rgb(131, 136, 240) 45%,
    hsla(237, 63%, 82%, 1) 100%
  ); */
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
 
}

.large{
  display: flex;
  justify-content: center;
}

.small-gradient {
  color: white; 
  border-radius: 10px;
  letter-spacing: 1.3px;
  border-radius: 10px;
  transition: border-radius 0.5s, background-color 0.9s;

}

.small .small-gradient:active , .small .small-gradient:hover{
  z-index: 1;
  background:  inherit;
   color: rgb(114, 121, 228) ; 
   border: 1px solid  rgb(114, 121, 228);
}


.money {
  justify-content: center;
  /* border: 2px solid rebeccapurple; */
  padding-right: 20px;
}

.large-in .gradient-inside {
  background-color: white;
  border-radius: 10px;
  letter-spacing: 1.3px;
  color: rgb(114, 121, 228);
}

.large-in .gradient-inside:hover , .large-in .gradient-inside:active{
  /* background-color: red; */
  border: 1px solid white;
  color: white;
  background-color: inherit;
}


@media (width<=600px) {
  .pricing {
    flex-direction: column;
    margin-bottom: 96px;
  }

  .small,
  .large {
    width: 85%;
    margin-bottom: 40px;
  }

  body {
    margin: auto;
    background-image: url("/images/bg-top.svg");
    background-position: right -250px top -50px;
    background-size: 500px 850px;  
  }
}

/* background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
background-repeat: no-repeat;
background-position: right top, left bottom;
background-size: auto, 25% 30%;
width: 100vw;
height: 100vh;
background-color: #f7f7ff;
line-height: 21px;
padding: 0;
margin: 0; */

/* 
      Background image,
  
  
  */


